.addCar {
  height: 100vw;
  width: 100vh;
  background: url('../../assets/img/road.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.addCar_box {
  width: 50vw;
  height: 60vw;
  transform: translate(15%, 30%);
  border-radius: 30px;
  box-shadow: 1px 4px 22px -8px rgba(135, 131, 245, 0.267);
}
.addCar_box .leftPart {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}
.addCarForm {
  width: 100%;

  height: 100%;
  padding-top: 2vw;
  padding-left: 8vw;
}
.leftPart .topLink a {
  color: #452a5a;
  font-weight: 400;
}
.leftPart .topLink {
  height: 20px;
}
.leftPart .contact {
  height: 100%;
  width: 73%;
  margin: auto;
}
.leftPart h2 {
  text-align: center;
  margin-bottom: 40px;
  padding-top: 2vw;
  padding-right: 4vw;
}

.leftPart {
  background: linear-gradient(-45deg, #22506e, rgba(229, 229, 233, 0.925));
}
.submitCar {
  border: none;
  height: 5vh;
  width: 10vw;
  border-radius: 8px;
  margin: auto;
  margin-left: 17%;
  margin-top: 6%;

  background: #629ac5;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  -webkit-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  -moz-box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
  box-shadow: 0px 9px 15px -11px rgba(88, 54, 114, 1);
}
.leftPart input {
  border: none;
  width: 80%;
  margin: 15px 0px;
  border-bottom: 1px solid #4f30677d;
  padding: 7px 9px;
  width: 100%;
  overflow: hidden;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
}

.leftPart input:focus {
  border: none;
  width: 80%;
  margin: 15px 0px;
  border-bottom: 1px solid #4f30677d;
  padding: 7px 9px;
  width: 100%;
  overflow: hidden;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
}
.leftPart select:focus {
  border: none;
  width: 80%;
  margin: 15px 0px;
  border-bottom: 1px solid #4f30677d;
  padding: 7px 9px;
  width: 100%;
  overflow: hidden;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
}
.leftPart date:focus {
  border: none;
  width: 80%;
  margin: 15px 0px;
  border-bottom: 1px solid #4f30677d;
  padding: 7px 9px;
  width: 100%;
  overflow: hidden;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
}
.leftPart select {
  border: none;
  margin: 15px 0px;
  border-bottom: 1px solid #4f30677d;
  padding: 7px 9px;
  width: 100%;
  overflow: hidden;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
  height: calc(3.5rem + 2px);
}
.leftPart date {
  border: none;
  margin: 15px;
  border-bottom: 1px solid #4f30677d;
  padding: 7px 9px;
  width: 100%;
  overflow: hidden;
  background: transparent;
  font-weight: 600;
  font-size: 14px;
}

.part1 {
  width: 100%;
  padding-top: 3vw;
  position: absolute;
  display: flex;
}

.topLink img {
  width: 28px;
  padding-right: 7px;
  margin-top: -3px;
}
.carContainer {
  width: 60%;
}
